*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(0,119,252);
    height: 80px;
    color: white;

    z-index: 99;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    line-height: 40px;
    width: 100%;

}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

header ul a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

header ul a:last-child{
    color: black;
    background-color: white;
    padding: 0px 20px;
    border-radius: 20px;
}

.container {

    width: 80%;
    margin: auto;

}

.card {

    padding: 20px;
}


.wh {

    background-color: white;
}

/*MAIN*/

section{
    width: 100%;
}

main{
    background-color: rgb(149,148,224);
}

#svc{
    padding-top: 80px;
}

.card {

    background-color: rgb(168,216,255);
    margin: 20px 0px; 
}

.cards {

    padding: 25px 0px;
}

.cb-img {

    height: 200px;
}

.cb-in.cb-img img {

    object-fit: contain;
    height: 100%;
    
}
.card.big {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0px;   
}

.cb-in.cb-img {

    margin-bottom: 0px;

}

.plan-ls.card .cb-img img , .plan-ls .cb-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.plan-ls.card .cb-img, .plan-ls .cb-img{
    width: 50%;
    height: 50%;
    margin: auto;
}

.cb-in.cb-img{
    margin-bottom: 0px;
}

/*PLAN*/

#plan{
    padding: 40px 0px 10px 0px;
}

.plan-ls:first-child{
    color: white;
}

.plan-ls.card{
    background-color: white;
}

.plan-ls .cb-img {

    width: 100%;
    margin: 0;
}

/*TESTIMONIAL*/

#testimonial{
    text-align: center;
    padding: 40px 0px;
}

#testimonial .container h2{
    color: rgb(139,133,223);
}

/*WITH-US*/
#with-us .container h1{
    margin-top: 20px;
    color: white;
    text-align: center;
}


#with-us .card h2:first-child {

    font-size: 70px;
    color: rgb(139,133,223);
}

#with-us .card .btn {

    background-color: rgb(139,133,223);
}

.wu-in .card {

    background-color: white;
}

/*ABOUT*/

#about h2{
    color:rgb(139,133,223);
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 30px;
}

#about .tes-i i{
    position: absolute;
    top: 0;
    right: 0;
    color:rgb(139,133,223);
    font-size: 80px;
}

#about {
    color:rgb(139,133,223);
    font-size: 30px;
    line-height: 40px;
}

#about .btn {
    background-color: rgb(139,133,223);
    padding-left: 20px;
    padding-right: 20px;
}

/*FREE*/
#free{
    text-align: center;
    padding-bottom: 50px;
}

#free h3 {
    color: rgb(186, 183, 214);
    font-size: 18px;
}



#free .btn {

    background-color: white;
    color: rgb(139,133,223);
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
}

#free .copyright , .copyright a:visited , .copyright a:link {

    color: white;
}

.copyright ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 80%;
    margin: auto;
}

.copyright ul li {
    margin-right: 20px;
    font-size: 12px;
}