*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(0,119,252);
    height: 80px;
    color: white;

    z-index: 99;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    line-height: 40px;
    width: 100%;

}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

header ul a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

header ul a:last-child{
    color: black;
    background-color: white;
    padding: 0px 20px;
    border-radius: 20px;
}

.container {

    width: 80%;
    margin: auto;

}

.wh {

    background-color: white;
}

/*MAIN*/

section{
    width: 100%;
}

main{
    background-color: rgb(149,148,224);
}

#svc{
    padding-top: 80px;
}

.card {

    background-color: rgb(168,216,255);
    margin: 20px 0px; 
}

.cards {

    padding: 25px 0px;
}

.cb-img {

    height: 200px;
}

.cb-in.cb-img img {

    object-fit: contain;
    height: 100%;
    
}
.card.big {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0px;   
}

.cb-in.cb-img {

    margin-bottom: 0px;

}